@use '../util' as *;

.vz-coming-soon {
  $base: &;
  @include size(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-logo {
    width: 50%;
    max-height: 30%;
  }
  &-banner {
    width: 100%;
    color: color('secondary-7');
    font-weight: 700;
    background: color('secondary-1');
    padding: 10px 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  &-info {
    font-size: 14px;
    font-weight: 400;
    color: color('secondary-9');
    margin-left: 10px;
  }
  &-social-item {
    margin: 0 20px;
    line-height: 0; 
    font-size: 0;
    color: transparent; 
    animation: floating 4s infinite ease-in-out;
    &s {
      display: flex;
      margin-top: 40px;
      transition: .2s ease-in-out;
    }
    .vz-icon-wrapper {
      color: color('primary-5');
      transition: var(--vz-button-transition);
      animation: tossing 2s infinite ease-in-out alternate-reverse;
      &:hover {
        color: color('primary-6');
      }
    }
  }
}