@forward 'backgroundPositionMoveDiagonal';
@forward 'blurFadeIn';
@forward 'blurFadeOut';
@forward 'blurIn';
@forward 'blurOut';
@forward 'bounceIn';
@forward 'fadeIn';
@forward 'fadeOut';
// ---
@forward 'fadeShortSlideInFromBottom';
@forward 'fadeShortSlideInFromLeft';
@forward 'fadeShortSlideInFromRight';
@forward 'fadeShortSlideInFromTop';
@forward 'fadeShortSlideOutToBottom';
@forward 'fadeShortSlideOutToLeft';
@forward 'fadeShortSlideOutToRight';
@forward 'fadeShortSlideOutToTop';
// ---
@forward 'fadeSlideInFromBottom';
@forward 'fadeSlideInFromLeft';
@forward 'fadeSlideInFromRight';
@forward 'fadeSlideInFromTop';
@forward 'fadeSlideOutToBottom';
@forward 'fadeSlideOutToLeft';
@forward 'fadeSlideOutToRight';
@forward 'fadeSlideOutToTop';
// ---
@forward 'pulse';
@forward 'rotate360';
@forward 'scaleIn';
@forward 'scaleOut';
@forward 'shake';
// ---
@forward 'slideInFromBottom';
@forward 'slideInFromLeft';
@forward 'slideInFromRight';
@forward 'slideInFromTop';
@forward 'slideOutToBottom';
@forward 'slideOutToLeft';
@forward 'slideOutToRight';
@forward 'slideOutToTop';
// ---
@forward 'fillSVG';
@forward 'strokeSVG';

@forward 'floating';
@forward 'tossing';
@forward 'buzz';