@use '../util' as *;

.vz-canvas {
  opacity: .05;
  &-wrapper {
    @include size(100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1;
  }
}
