@use '../util' as *;

$folder-icon:
  '<svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">' +
    '<path d="M16 9l-2-4h-10.997c-1.106 0-2.003 0.89-2.003 1.991v18.018c0 1.1 0.9 1.991 1.993 1.991h25.013c1.101 0 1.993-0.893 1.993-1.995v-14.010c0-1.102-0.897-1.995-2.006-1.995h-11.994z" />' +
  '</svg>';

.vz-form-item {
  &-file-input {
    $base: &;
    @include size(100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    &::-webkit-file-upload-button {
      cursor: pointer;
    }
    &:hover {
      + #{$base}-label {
        &::after {
          color: color('primary-5');
        }
      }
    }
    &:focus {
      + #{$base}-label {
        box-shadow: 0 0 0 1px color('primary-5');
        &::after {
          color: color('primary-5');
        }
      }
    }
    &-wrapper {
      @include size(100%, 36px);
      position: relative;
      display: inline-block;
      color: color('white', .2) !important;
    }
    &-label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 5px 10px;
      color: color('secondary-11');;
      height: 100%;
      border-radius: var(--vz-border-radius);
      background: color('secondary-3');
      font-size: 12px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0 0 transparent;
      transition: box-shadow .2s ease;
      &::after {
        content: '';
        @include mask(svg-uri($folder-icon), color('secondary-7'), 20px, no-repeat right);
        @include size(20px);
        flex: 1;
      }
    }
  }
}
